{% extends 'landing/trip_base.html' %}
{% block content %}
    <div class='container'>
        <h1>Welcome to the Toatally Rad Inventory Project</h1>
        <p>Please choose:
            <ul>
                <li><a href="{% url 'trip_checkout' %}">Check Out</a></li>
                <li><a href="{% url 'trip_checkin' %}">Check In</a></li>
                <li><a href="{% url 'trip_users-home' %}">Profile</a></li>
                <li><a href="{% url 'trip_inventory-home' %}">Inventory</a></li>
            </ul>
        </p>
    </div>
{% endblock content %}